body {
    font-family: 'Roboto', sans-serif;
}

div.container {
    position: relative;
}

div#preview {
    width: 1000px;
}

div#editor {
    display: none;
    padding-left: 2em;
    position: fixed;
    right: 100px;
    top: 100px;
}

.scaler {
    transform: scale(0.25);
    transform-origin: top left;
    position: relative;

}

canvas {
    display: none;
}

textarea {
    width: 100%;
}